@import '../../theme/global.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contract-container{
    position: absolute;
    top: 12%;
    width: 100%;
    height: 100%;
    background-color: $bodyBackgroundColor;

}
.contractClauses{
    text-align: center;
    font-size: 300%;
}