@import '../../theme/global.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buy-container{
    width: 100%;
    min-height: 100%;
    background-color:$bodyBackgroundColor;
    position: absolute;
    top: 12%;
    overflow: hidden;
}
.buyForm{
    margin-top: 5%;
    margin-left: 40%;
    width: 80%;
}
.buyButton{
    width: 15%;
    height: 10%;
    margin-left: 2.5%;
}
.contract{
    position: absolute;
    left: 33%;
}
.contractText{
    position: absolute;
    height: 5%;
    left: 45%;
    top: 34.5%;
}