@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$bodyBackgroundColor : #c18bed;
$textColor : #fff;
$buttonBackgroundColor : #9c32f2;
$buttonHoverColor:#32ccf2;
$hoverTransition:0.5s;
$textAlign : center;